##  Question 01 - List any five functions of the pandas library with execution.

# Answer :- 

# 1. pd.read_csv() - This function reads a CSV (Comma Separated Value) file and returns a pandas dataframe.

In [3]:
import pandas as pd

# read a csv file and store as a dataframe
df = pd.read_csv(r'C:\gourav datasets\archive 1\heart.csv')

#  2. df.head() - This function returns the first few rows of a dataframe

In [4]:
# read a csv file and store as a dataframe

# print the first 5 rows of the dataframe
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

# 3. df.describe() - This function returns a summary of statistics for each column in a dataframe.

In [5]:
# print the summary statistics for each column
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

# 4. df.drop() - This function removes one or more specified columns or rows from a dataframe.

In [7]:
# drop the 'column1' and 'column2' columns from the dataframe
df = df.drop(['MaxHR'], axis=1)

# 5. df.groupby() - This function groups the rows of a dataframe based on one or more columns, and applies an aggregate function to each group.

In [10]:
# group the rows by the 'column1' column and calculate the mean of the 'column2' column for each group
grouped_df = df.groupby('Age')['HeartDisease'].mean()

# print the resulting dataframe
print(grouped_df)

Age
28    0.000000
29    0.000000
30    0.000000
31    0.500000
32    0.400000
33    0.500000
34    0.285714
35    0.363636
36    0.333333
37    0.090909
38    0.687500
39    0.133333
40    0.461538
41    0.250000
42    0.166667
43    0.458333
44    0.315789
45    0.166667
46    0.541667
47    0.578947
48    0.483871
49    0.523810
50    0.560000
51    0.428571
52    0.527778
53    0.454545
54    0.450980
55    0.585366
56    0.657895
57    0.684211
58    0.666667
59    0.657143
60    0.750000
61    0.838710
62    0.714286
63    0.766667
64    0.681818
65    0.714286
66    0.538462
67    0.800000
68    0.600000
69    0.769231
70    0.857143
71    0.400000
72    0.750000
73    1.000000
74    0.714286
75    0.666667
76    0.500000
77    1.000000
Name: HeartDisease, dtype: float64

## Question 02 - Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [21]:
## Answer

def reindex_dataframe(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=2*len(df)+1)
    return df.set_index(new_index)

The reindex_dataframe() function takes a Pandas DataFrame df as input and returns a new DataFrame with a re-indexed row index. The new index starts from 1 and increments by 2 for each row, up to a maximum value of 2*len(df)+1.

The function first creates a new RangeIndex object with the desired start, step, and stop values using the pd.RangeIndex() function. It then sets this new index on the original DataFrame using the set_index() method, which creates a new DataFrame with the specified index.

In [20]:
# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [5, 6, 7, 8], 'C': [9, 10, 11, 12]})

# call the reindex_dataframe function
new_df = reindex_dataframe(df)

# print the new DataFrame
print(new_df)

   A  B   C
1  1  5   9
3  2  6  10
5  3  7  11
7  4  8  12

## Question 03 - You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [23]:
# Answer :-

import pandas as pd

def sum_first_three(df):
    sum = 0
    for i in range(3):
        sum = sum + df.iloc[i]['Values']
    print("Sum of first three values: ", sum)

# Example usage:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of first three values:  60

## Question 04 - Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [24]:
## Answer :- 

def count_words(df):
    # Split the 'Text' column into words using whitespace as the delimiter
    df['Word_Count'] = df['Text'].str.split().str.len()
    return df

In [25]:
df = pd.DataFrame({'Text': ['This is a sentence.', 'Another sentence.']})
df = count_words(df)
print(df)

                  Text  Word_Count
0  This is a sentence.           4
1    Another sentence.           2

## Question 05 - How are DataFrame.size() and DataFrame.shape() different?

# Answer :- 

1. DataFrame.size() and DataFrame.shape() are both functions in Pandas used to obtain information about the dimensions of a DataFrame. However, they differ in the information they provide.

2. DataFrame.size() returns the total number of elements in the DataFrame, i.e., the product of the number of rows and columns.

3. DataFrame.shape() returns a tuple of two elements, representing the number of rows and columns in the DataFrame, respectively.

In summary, DataFrame.size() returns the total number of elements in the DataFrame, while DataFrame.shape() returns a tuple with the number of rows and columns in the DataFrame.

## Question 06 - Which function of pandas do we use to read an excel file?

# Answer :-

We use the pandas.read_excel() function to read an Excel file in pandas.

# Question 07 - You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [26]:
# Answer :- 

def extract_username(df):
    # Create a new column 'Username' in df
    df['Username'] = ''

    # Iterate over each row in the 'Email' column
    for index, row in df.iterrows():
        # Extract the username from the email address
        username = row['Email'].split('@')[0]
        # Set the 'Username' column to the extracted username
        df.at[index, 'Username'] = username

    # Return the modified DataFrame
    return df

In [27]:
# Example DataFrame
df = pd.DataFrame({'Email': ['gourav@example.com', 'ajay@example.com', 'devansh@example.com']})

# Call the extract_username() function
df = extract_username(df)

# Print the modified DataFrame
print(df)

                 Email Username
0   gourav@example.com   gourav
1     ajay@example.com     ajay
2  devansh@example.com  devansh

## Question 08 - You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [28]:
# Answer :-

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [29]:
df = pd.DataFrame({
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
})

selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

This function takes in a Pandas DataFrame df and selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function returns a new DataFrame selected_rows that contains only the selected rows.

## Question 09 - Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [30]:
# Answer :-

import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    print("Mean: ", mean)
    print("Median: ", median)
    print("Standard Deviation: ", std)

In [31]:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_stats(df)

Mean:  30.0
Median:  30.0
Standard Deviation:  15.811388300841896

## Question 10 - Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [32]:
## Answer :-

import pandas as pd
import numpy as np

# Create sample DataFrame
df = pd.DataFrame({
    'Sales': [10, 15, 20, 12, 25, 18, 22, 30, 15, 20],
    'Date': pd.date_range(start='2022-01-01', end='2022-01-10')
})

# Calculate moving average
window_size = 7
df['MovingAverage'] = df['Sales'].rolling(window_size, min_periods=1).mean()

print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01      10.000000
1     15 2022-01-02      12.500000
2     20 2022-01-03      15.000000
3     12 2022-01-04      14.250000
4     25 2022-01-05      16.400000
5     18 2022-01-06      16.666667
6     22 2022-01-07      17.428571
7     30 2022-01-08      20.285714
8     15 2022-01-09      20.285714
9     20 2022-01-10      20.285714

 we first import the necessary libraries and create a sample DataFrame with 10 rows of data, containing 'Sales' and 'Date' columns. We then specify a window size of 7 days and use the rolling() function to calculate the moving average for each row. Finally, we add a new 'MovingAverage' column to the DataFrame containing the calculated moving averages.

The min_periods=1 parameter ensures that the moving average is calculated even if there are less than 7 days of sales data available. This ensures that the first 6 rows of the 'MovingAverage' column have the same value as the 'Sales' column.

## Question 11 - You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [36]:
# Answer :-

# create sample dataframe
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})

# convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# extract weekday name and create new column 'Weekday'
df['Weekday'] = df['Date'].dt.day_name()

# print modified dataframe
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

## Question 12 - Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [44]:
# Answer :-

import pandas as pd

# create a list of dates
dates = ['2023-01-01', '2023-01-15', '2023-01-25', '2023-02-10', '2023-02-15']

# convert the dates to pandas datetime objects
dates = pd.to_datetime(dates)

# create a dictionary with data
data = {'Date': dates, 'Values': [1, 2, 3, 4, 5]}

# create a DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

        Date  Values
0 2023-01-01       1
1 2023-01-15       2
2 2023-01-25       3
3 2023-02-10       4
4 2023-02-15       5

In [45]:
def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    result = df.loc[mask]
    return result

In [46]:
selected_rows = select_rows_between_dates(df)
print(selected_rows)

        Date  Values
0 2023-01-01       1
1 2023-01-15       2
2 2023-01-25       3

## Question 13 - To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

# Answer :-

The first and foremost necessary library that needs to be imported to use the basic functions of Pandas is the pandas library itself.

You can import the Pandas library using the following line of code:

import pandas as pd

The as pd part of the line simply creates an alias for the library that you can use throughout your code to refer to Pandas functions and objects. This is a common convention in Python and helps to make your code more readable.

Once you have imported the Pandas library, you can start using its functions and objects to work with data in Python. For example, you can create a DataFrame using the pd.DataFrame() function, read data from a file using the pd.read_csv() function, or manipulate data using Pandas' powerful indexing and slicing features.